{% extends "base.html" %}
{% block content %}
  <article class="post">
    <h1>{{ post.title }}</h1>
    <time class="post-date" datetime="{{ post.date_iso }}">{{ post.date_human }}</time>
    {% if post.description %}<p class="lede">{{ post.description }}</p>{% endif %}
    <div class="content">
      {{ post.html | safe }}
    </div>

    {% if post.references %}
    <section class="post-footer">
      <hr>
      <div class="references">
        <h4>References</h4>
        <ol class="content">
          {% for ref in post.references %}
            <li id="ref-{{ loop.index }}">{{ ref | safe }}</li>
          {% endfor %}
        </ol>
      </div>
    </section>
    {% endif %}

  </article>
{% endblock %}
